<a href="https://colab.research.google.com/github/yjjo94/class2021spring/blob/main/syntax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = [5, 2, 9, 12]
for i in a:
    print(i)

5
2
9
12

for______ in _____ : ---> for은 내용을 몇번 반복할것이냐를 뜻함. 저 함수식 아래에 repeat 될 내용이 나와야함.

i in 리스트 를 하면 리스트의 숫자들이 i 자리에 하나 하나씩 박힌다.


in range(3) ---> 0 1 2 라는 인덱스 3개를 만들어주는 것. = [0, 1, 2]

In [ ]:
a = [5, 2, 9, 12]
for i in range(len(a)):
    print(a[i])

1
2
3
4

in range(len(a))는 in range(4) 라고 쓴것과 동일함. range(0,4)도 똑같음. 0부터 4 이전까지 만들어라 라는 뜻. 

만약 range(1,4)라고 쓰면 뭐라고 나올까? a[1], a[2], a[3]이 들어가서 2 3 4가 나온다. 

range(1,5)를 하면 에러가 나온다. a[4]가 존재하지 않기 때문

range(0,4,2)를 하면 1 3 이 나온다. 0부터 4전까지 두칸을 뛰어라. 라는 뜻임. (0,4,1)은 (0,4)랑 똑같다. 아래에는 좀더 긴 예시.

In [4]:
a = [5, 2, 9, 12, 13, 14, 15, 16, 17]
for i in range(0,10,2):
    print(a[i])

5
9
13
15
17

더 긴 예시

In [5]:
a = ['red', 'green', 'blue', 'purple']
for i in a:
    print(i)

red
green
blue
purple

In [ ]:
a = ['red', 'green', 'blue', 'purple']
for i in range(len(a)):
    print(a[i])

red
green
blue
purple

In [ ]:
a = ["red", "green", "blue", "purple"]
b = [0.2, 0.3, 0.1, 0.4]
for i, a_ in enumerate(a):
    print("{}: {}%".format(a_, b[i]*100))

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

skip

In [ ]:
a = ["red", "green", "blue", "purple"]
b = [0.2, 0.3, 0.1, 0.4]
for a_, b_ in zip(a, b):
    print("{}: {}%".format(a_, b_*100))

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

skip

In [ ]:
a = 0
if a == 0:
    print(a)
else:
    print(a+1)

0

제어문(syntax)에는 두개가 있다. 하나는 loop(for을 배웠다) 하나는 condition(if가 있다)

if _________ :

(tap키) _________   --> ~하면 ~하고

== 는 equal sign이다.

만약 if a == 1: 으로 바뀐다면 답은 2가 나올 것이다.

else 부분이 없고 a==1: 이라면 답은 안나온다.

In [10]:
for i in range(1, 3):
    for j in range(3, 5):
        print(i*j)

3
4
6
8

for 밖에 또 for이 있다면 안에 for을 x바퀴 돌리고 또 밖에 for을 x바퀴 돌리면 된다.

range(3,5)면 3, 4이다.

In [ ]:
for i in range(1, 3):
    for j in range(3, 5):
        if j >=4:
            print(i*j)

4
8

In [8]:
a = [1, 2, 3, 4]
b = [i for i in a if i >=2]
b

[2, 3, 4]

b가 아주 중요한 부분. b도 리스트는 맞다. 

for i in [1,2,3,4]

if i >=2

i   

b를 풀어서 이렇게 세줄로 쓸수 있다.

In [ ]:
a = ['red', 'green', 'blue', 'purple']
b = [i for i in a if len(i) >=4]
b

['green', 'blue', 'purple']

b = [i] 이지만 아직 어떻게 정의되는지 모른다.

for i in a:

  if len(i)>=4

철자가 4개 이상인 것을 골라서 list up을 해라. 라고 해석 가능.