<a href="https://colab.research.google.com/github/yjjo94/class2021spring/blob/main/3/15_note.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = [1,'2', [3, '4']]

print(a[0]) --> a의 0번째를 출력해라. 0번째는 셀의  첫번째 값을 뜻함.

In [ ]:
a = (1, 2, 3)
a[a] = -1

a[a] = -1 이런 싱그로 쓰면 에러가 뜬다. 왜냐하면 tuple은 수정이 안되기 때문. 그래서 프로젝트 할때 조금 안전한 면이 있다.

In [ ]:
a =	{"a": "apple", "b": "orange", "c": 2014}
print(a["a"])

apple

사전의 형태. xx: yy 라는 형태. dictionary

a[1] 라는 명령어는 먹히지 않는다. 왜냐하면 dic에는 순서가 없기 때문.

-----------------------------------------------------------------------------

In [ ]:
s = 'abcdef'
print(s[0], s[5], s[-1], s[-6])
print(s[1:3], s[1:], s[:3], s[:])

a f f a
bc bcdef abc abcdef

s = 'abcdef'는 list는 아니지만 list와 비슷하다. abcdef는 character가 아니고 string이다.
s[0]를 하면 'a'가 나온다.
1:3 은 1부터 3까지 = index 1에서 index 3 전까지 라는 뜻.
1: 는 1부터 끝까지 라는 뜻
:3 은 처음부터 3 전까지

In [ ]:
n = [100, 200, 300]
print(n[0], n[2], n[-1], n[-3])
print(n[1:2], n[1:], n[:2], n[:])

In [ ]:
s.upper()

'ABCDEF'

대문자로해라

In [ ]:
tokens = s.split(' ')	        # split s into a list wherever a t is found (whitespace by default)
tokens

['this', 'is', 'a', 'house', 'built', 'this', 'year.']

s.split(' ') 빈칸을 기준으로 나누어라. 그리고 그것을 list하여라

In [ ]:
s = ' '.join(tokens)	        # combine the words of the text into a string using s as the glue
s

'this is a house built this year.'

a[] 대괄호 안에는 반드시 숫자가 들어가야한다. 
a = ['a', 2]
print(a[0]) 을 하면 1이 나온다. 하지만 이것은 사실 '1'이다. string이다.  type을 사용해보면 string 이라고 나온다. print라는 함수의 기능에는 따옴표를 없애는 기능이 있다.